{% extends 'base.html.twig' %}

{% block title %}Listes des Articles{% endblock %}

{% block body %}
<h1>Liste de nos articles</h1>

{{ articles|taille }}

{% for article in articles %}
   <a href="{{ path('vue_article', { 'id':article.id }) }}">{{ article.title }}</a>
   {% endfor %}
{% endblock %}
