{% extends 'base.html.twig' %}

{% block title %}Listes des Articles{% endblock %}

{% block body %}

{% include 'menu/_menu.html.twig' %}
<h1>Liste de nos articles</h1>

{{ articles|taille }}

{% for article in articles %}
   <a href="{{ path('vue_article', { 'id':article['id'] }) }}">{{ article['nom'] }}</a>
   {% endfor %}
{% endblock %}
